server:
  port: 8081
  servlet:
    encoding:
      charset: UTF-8
      force: true
  error:
    whitelabel:
      enabled: false

spring:
  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  config:
    import: smtp.properties
  web:
    resources:
      add-mappings: false
  mvc:
    throw-exception-if-no-handler-found: true

logging:
  level:
    '[com.fintech]': DEBUG
